<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
    <param-value>
			en
		</param-value>
  </context-param>
  <display-name>Projet-M2-JavaEE</display-name>
  <welcome-file-list>
    <welcome-file>Articles</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Articles</servlet-name>
    <servlet-class>com.blog.servlets.Articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Articles_by</servlet-name>
    <servlet-class>com.blog.servlets.Articles_by</servlet-class>
    <init-param>
      <param-name>id</param-name>
      <param-value>1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles_by</servlet-name>
    <url-pattern>/articles/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Article_create</servlet-name>
    <servlet-class>com.blog.servlets.Article_create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article_create</servlet-name>
    <url-pattern>/Article_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Article_delete</servlet-name>
    <servlet-class>com.blog.servlets.Article_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article_delete</servlet-name>
    <url-pattern>/Article_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Article_edit</servlet-name>
    <servlet-class>com.blog.servlets.Article_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article_edit</servlet-name>
    <url-pattern>/Article_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Article_my</servlet-name>
    <servlet-class>com.blog.servlets.Article_my</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article_my</servlet-name>
    <url-pattern>/Article_my</url-pattern>
  </servlet-mapping>
</web-app>