<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>
			en
		</param-value>
	</context-param>
	<display-name>Projet-M2-JavaEE</display-name>
	<welcome-file-list>
		<welcome-file>views/Articles.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>Articles</servlet-name>
		<servlet-class>com.blog.servlets.Articles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Articles</servlet-name>
		<url-pattern>/articles</url-pattern>
	</servlet-mapping>

</web-app>